/* Tablet and mobile */
@media (max-width: 1023px) {
    .song__list {
        height: 244px;
        overflow: hidden overlay;
    }
    .content__navbar {
        width: 100%;
    }
    .sidebar__item.active {
        border: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .expand-text {
        display: none;
    }
    .app__sidebar {
        width: 70px;
        background-color: #572F90;
    }
    .app__sidebar.expand {
        width: 240px;
    }
    .sidebar__logo  {
        text-align: center;
    }
    .sidebar__small-logo {
        height: 40px;
        display: block;
    }
    .sidebar__expand {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .sidebar__expand-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #68449B;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .sidebar__navbar {
        height: unset;
    }
    .app__container {
        left: 70px;
        width: calc(100% - var(--sidebar-tablet-width));
    }

    .header__search input {
        max-width: 282px;
    }

    .sidebar__library-title i {
        display: none;
    }

    .sidebar__library-title h4 {
        display: none;
    }

    .sidebar__item {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sidebar__logo-img {
        display: none;
    }

    .sidebar__library-item {
        justify-content: center;
    }

    .sidebar__item:not(.active) {
        margin: 0;
    }
    .sidebar__buy-vip {
        display: none;
    }
    .sidebar__newplaylist {
        display: none;
    }

    .song__container {
        height: 244px;
        overflow-x: hidden;
    }
    .content {
        padding: 0 30px;
    }
    .header__nav-item i {
        font-size: 1.8rem;
    }
    .song__item-time {
        padding-right: 0;
    }
    .player__time {
        max-width: 290px;
    }
    .player__center {
        padding-right: 40px;
    }
    .sidebar__library-list {
        margin-bottom: 0;
    }


}
/* Tablet pro*/
@media (max-width: 1130px) and (min-width: 1024px) {
    .player__center-progress {
        width: 260px;
    }
    .song__list {
        height: 244px;
        overflow: hidden overlay;
    }
    .song__item-time {
        padding-right: 30px;
    }
    .content__navbar {
        width: 100%;
    }

}
/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .app__container {
        position: unset;
        width: unset;
    }
    .content {
        padding: 0 20px;
    }
    .header {
        padding: 0 10px;
    }
    .header__search input{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
    }
    .header__search {
        max-width: 200px;
    }
    .player__container {
        height: 50px;
        padding: 0 5px;
        bottom: var(--sidebar-mobile-height);
    }
    .content__navbar-wrap {
        padding-top: 10px;
    }
    .song__card {
        padding-right: 0;
        padding-top: 20px;
    }
    .cd-thumb-img {
        width: 40px;
        height: 40px;
    }
    .content__navbar-item:not(.content__navbar-item:last-child) {
        margin-right: 0;
    }
    .player__center {
        padding-right: 0;
    }
    .player__toggle-button {
        border: none;
    }
    .player__control {
        margin-bottom: 0;
    }
    .player-icon {
        margin: 0 5px;
    }
    .app__sidebar {
        position: fixed;
        width: 100%;
        height: var(--sidebar-mobile-height);
        padding-top: 0;
        overflow: unset;
        z-index: 99;
        bottom: 0;
        top: unset;
        background-color: #2C064A;
    }
    .sidebar__list {
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 0;
    }
    .sidebar__item {
        flex: 1;
        padding: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .sidebar__item span {
        font-size: 1rem;
        padding-left: 0;
        font-weight: 400;
    }
    .sidebar__item i {
        font-size: 1.6rem;
    }
    .sidebar__list::after {
        display: none;
    }
    .content__navbar-item span {
        font-size: 1rem;
    }
}